.main-container{
    margin-top: 150px;
}
.img-selector{
    display:block;
    width:300px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
    
}
.input-selector{
    display:block;
    width:450px;
    margin-left:auto;
    margin-right:auto;
    line-height: 24px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right:30px;
    border: 1px solid #dfe1e5;
    border-radius:24px; 
}
.botton-container{
    display:flex;
    justify-content: center;
    
}
button{
    background-color:#dfe1e5;
    color: #0f1419;
    font-weight:bold;
    border:none;
    border-radius:8px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:10px;
    padding-top:10px;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    font-size: large;
}
input::placeholder{
    font-size: large;
}
